{
  "presets": [
    "@babel/preset-flow",
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": true
        },
        "modules": false,
        "loose": true
      }
    ]
  ],
  "only": [
    "src",
    "node_modules"
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ],
    [
      "@babel/plugin-proposal-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ],
    "@babel/plugin-syntax-dynamic-import"
  ],
  "env": {
    "test": {
      "presets": [
        "power-assert"
      ],
      "plugins": [
        "@babel/plugin-transform-modules-commonjs"
      ]
    },
    "production": {
      "plugins": [
        ["@rabbitcc/babel/remove-test", {
          "include": ["puppeteer", "fs", "@babel/core"]
        }]
      ]
    }
  }
}
